<launch>

<rosparam file="$(find ugv_chasis_simply_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="ugv_chasis_simply" args="Rev12_position_controller Rev13_position_controller Rev16_position_controller Rev17_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/ugv_chasis_simply/joint_states"/>
</node>

</launch>