<?xml version="1.0" ?>
<robot name="ugv_chasis_simply" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

<material name="camera_base_color">
  <color rgba="0.62 0.83 1.61 1.0"/>
</material>

<material name="black">
  <color rgba="0.0 0.0 0.0 1.0"/>
</material>

<material name="sprocket_color">
  <color rgba="0.51 0.51 0.51 1.0"/>
</material>

<material name="base_color">
  <color rgba="1.0 1.0 1.0 1.0"/>
</material>

</robot>
